.app-container {
  display: flex;
  height: 100vh;
  background-color: #f8fafc;
}

.main-content {
  margin-left: 250px; /* phải đúng với Sidebar width */
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}
